div{
  display: inline-block;
  margin-left: 50px;
}

p{
  display: inline-block;
  float: right;
}

.logoPinterest{
  color: red;
  font-size: 40px;
}

.Barra{
  padding: 2px;
  background-color: gray;
  width: 900px;
  font-size: 20px;
  border-radius: 10px;
}

.icon-cross{
  float: right;
}

.icon-circle-down{
  float: right;
}

.iconosDerecha{
  color: silver;
  font-size: 20px;
  margin-right: 40px;
  float: right;
}

.icon-user:hover{
  color: red;
}

.icon-menu:hover{
  color: red;
}

.icon-bubble:hover{
    color: red;
}

li{
  list-style: none;
  display: inline-block;
  margin: auto;
}

.bloques{
  float: left;
}

img{
  width: 300px;
  height: 600px;
  max-width: 100%;
  border-radius: 10px;
}

button{
  background-color: gray;
  border: 0;
  padding: 20px;
  border-radius: 10px;

}

button:hover{
  background-color: pink;
  border: 0;
  padding: 30px;
  border-radius: 10px;
}
